{% extends '::base.html.twig' %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ "project.page.list"|trans }}</div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'project.grid.code'|trans }}</th>
                <th>{{ 'project.grid.label'|trans }}</th>
                <th>{{ 'project.grid.summary'|trans }}</th>
                <th>{{ 'project.grid.created'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('project_show', { 'project': entity.id }) }}">{{ entity.code }}</a></td>
                    <td>{{ entity.label }}</td>
                    <td>{{ entity.summary }}</td>
                    <td>{{ entity.created|formatDate() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {% if entities.currentPageNumber is defined %}
                {{ knp_pagination_render(entities) }}
            {% endif %}
        </div>
    </div>
    {% if is_granted('create', entity) %}
        <p>
            <a class="btn btn-primary" href="{{ path('project_new') }}">
                {{ "project.page.create"|trans }}
            </a>
        </p>
    {% endif %}
{% endblock %}
