{% extends '::base.html.twig' %}
{% import "AppBundle::macros.html.twig" as CI %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ "user.details"|trans }}</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{{ "user.grid.username"|trans }}</dt>
                <dd>{{ entity.username }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "user.grid.fullName"|trans }}</dt>
                <dd>{{ entity.fullName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "user.grid.email"|trans }}</dt>
                <dd>{{ entity.email }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "user.grid.role"|trans }}</dt>
                <dd>{{ entity.roles[0]|trans }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "user.grid.status"|trans }}</dt>
                <dd>
                    {% if entity.enabled %}
                        {{ "user.status.enabled"|trans }}
                    {% else %}
                        {{ "user.status.disabled"|trans }}
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    <div class="actions">
        {% if is_granted('edit', entity) %}
            <p>
                <a class="btn btn-primary" href="{{ path("user_edit", {user: entity.id}) }}">
                    {{ "user.page.edit"|trans }}
                </a>
            </p>
        {% endif %}
    </div>
    {% if activities|length > 0 %}
        {% include 'AppBundle:Activity:activity.html.twig' with { 'activities': activities } %}
    {% endif %}
    {% if issues|length > 0 %}
        {{ CI.listOpenedReaopenedIssue(issues) }}
    {% endif %}
{% endblock %}
