{% extends '::base.html.twig' %}
{% import "AppBundle::macros.html.twig" as CI %}

{% block content %}
    {% if is_granted("edit", entity) %}
        <p>
            <a class="btn btn-default" href="{{ path('issue_edit', { 'issue': entity.code }) }}">
                {{ "issue.page.update"|trans }}
            </a>
        </p>
    {% endif %}
    {% if is_granted("add_sub_task", entity) and entity.type == 'Story' %}

        <p>
            <a class="btn btn-default" href="{{ path('issue_new_subtask', { 'issue': entity.code }) }}">
                {{ "issue.page.create_subtask"|trans }}
            </a>
        </p>
    {% endif %}

    <div class="panel panel-primary">
        <div class="panel-heading">{{ "issue.page.details"|trans }}</div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.summary"|trans }}</dt>
                <dd>{{ entity.summary }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.type"|trans }}</dt>
                <dd>{{ entity.type }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.priority"|trans }}</dt>
                <dd>{{ entity.priority }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.status"|trans }}</dt>
                <dd>{{ entity.status }}</dd>
            </dl>
            {% if entity.resolution %}
                <dl class="dl-horizontal">
                    <dt>{{ "issue.grid.resolution"|trans }}</dt>
                    <dd>{{ entity.resolution }}</dd>
                </dl>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.assignee"|trans }}</dt>
                <dd>{{ entity.assignee.username }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.reporter"|trans }}</dt>
                <dd>{{ entity.reporter.username }}</dd>
            </dl>
            {% if entity.parent %}
                <dl class="dl-horizontal">
                    <dt>{{ "issue.grid.parent"|trans }}</dt>
                    <dd><p>
                            <a href="{{ path('issue_show', { 'issue': entity.parent.code }) }}">{{ entity.parent.summary }}</a>
                        </p></dd>
                </dl>
            {% endif %}
            {% if entity.project %}
                <dl class="dl-horizontal">
                    <dt>{{ "issue.grid.project"|trans }}</dt>
                    <dd>
                        <a href="{{ path('project_show', { 'project': entity.project.id }) }}">{{ entity.project.label }}</a>
                    </dd>
                </dl>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.description"|trans }}</dt>
                <dd>
                    {% if entity.description %}
                        {{ entity.description }}
                    {% else %}
                        {{ "issue.noDescription"|trans }}
                    {% endif %}
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.created"|trans }}</dt>
                <dd>{{ entity.created|date('Y-m-d') }}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>{{ "issue.grid.updated"|trans }}</dt>
                <dd>{{ entity.updated|date('Y-m-d') }}</dd>
            </dl>

            {% if entity.type == "Story" %}
                <dl class="dl-horizontal">
                    <dt>{{ "issue.page.subtasks"|trans }}</dt>
                    <dd>
                        {% if entity.children|length > 0 %}
                            {% for child in entity.children %}
                                <p><a href="{{ path('issue_show', { 'issue': child.code }) }}">{{ child.summary }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            {{ "issue.grid.nosubtask"|trans }}
                        {% endif %}
                    </dd>
                </dl>
            {% endif %}
        </div>
    </div>
    {% if entity.collaborators|length > 0 %}
        {{ CI.renderCollaborators(entity.collaborators) }}
    {% else %}
        {{ "issue.noCollaborators"|trans }}
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">{{ "issue.comment.details"|trans }}</div>
        <div class="panel-body">
            {% for comment in entity.comments %}
                <dl class="dl-horizontal">
                    <dt>{{ "issue.comment.author"|trans }}</dt>
                    <dd>{{ comment.author }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ "issue.comment.created"|trans }}</dt>
                    <dd>{{ comment.updated|date('Y-m-d') }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ "issue.comment.body"|trans }}</dt>
                    <dd>{{ comment.body }}</dd>
                </dl>
                <a class="btn btn-default" href="{{ path('issue_edit_comment', {"issue":entity.code,"comment":comment.id}) }}">{{ "issue.comment.update"|trans }}</a>
                <a class="btn btn-default" href="{{ path('issue_delete_comment', {"issue":entity.code,"comment":comment.id}) }}">{{ "issue.comment.delete"|trans }}</a>
                <hr>
            {% endfor %}

            {{ form_start(comment_form, {'attr':{'class':"form-inline"}}) }}
                <input type="submit" class="btn btn-primary"
                       value="{{ 'issue.comment.add'|trans }}"/>
            {{ form_end(comment_form) }}
        </div>
    </div>
{% endblock %}