{% extends "::base.html.twig" %}

{% block content %}
    <div class="col-md-4">
        <a href="{{ path('fos_user_security_login') }}">{{ "user.page.auth.login"|trans }}</a>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register form-horizontal">
            {{ form_widget(form._token) }}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ form_label(form.email) }}</span>
                {{ form_widget(form.email) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ form_label(form.fullName) }}</span>
                {{ form_widget(form.fullName) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> {{ form_label(form.username) }}</span>
                {{ form_widget(form.username) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> {{ form_label(form.timezone) }}</span>
                {{ form_widget(form.timezone) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ form_label(form.plainPassword.first) }}</span>
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> {{ form_label(form.plainPassword.second) }}</span>
                {{ form_widget(form.plainPassword.second) }}
            </div>
            <div class="col-sm-offset-4 col-sm-6">
                <p>
                    <input type="submit" class="btn btn-lg btn-primary"
                           value="{{ 'registration.submit'|trans }}"/>
                </p>
            </div>
        </form>
    </div>
{% endblock content %}
